<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Karnaphuli River Water Quality and Contamination Monitoring System</title>
  <style>
    body, html {
      height: 100%;
    }
    h3 {
      padding-top: 50px;
      padding-bottom: 30px;
      text-align: center;
    }
    img {
      width: 50%;
      border-radius: 10px;
      margin-bottom: 30px;
    }
    td:not(:first-child), th:not(:first-child) {
      text-align: center;
    }
    .highlight {
      color: red;
      font-weight: bold;
    }
  </style>
</head>

<body>
  <div class="container h-100 d-none" id="app">
    <h3>Karnaphuli River Water Quality and Contamination Monitoring System</h3>
    <a class="d-flex justify-content-center" target="_blank"
      href="https://www.google.com/maps/place/Karnaphuli+River/data=!4m2!3m1!1s0x30ad4eb7bd5e778f:0x311064830b92c768?sa=X&ved=2ahUKEwjCkvGej5r5AhWO-jgGHQP8Dr8Q8gF6BAgIEAE">
      <img
        src="https://www.google.com/maps/vt/data=OlPAsXARmIUJ7luw5T14JyR7pBcJRgyj6HkMdHtjdJkbm1CTb4HDQtUwyii_O2Te82AIlGnoORp7QyFOQmOB3hyh8ZPT5fr4ZnM18ihI3cqtFD_azVZQqQxtIQkYYupQa_WUAoSlbf3_V5S64xc49GvlaqZ_BO4Nzw6JMIzzk_l4iRS4TN-ppjiiKTiTS1TujZ8mYRZkdiDYr2bA9UZk8PMEyIfhgzjgGJrU_KwLk_brwPCrkSh3FyL9">
    </a>
    <table class="table table-bordered" id="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">pH</th>
          <th scope="col">
            <span style="display: block;">Turbidity</span>
            <span style="display: block;">(NTU)</span>
          </th>
          <th scope="col">
            <span style="display: block;">TDS</span>
            <span style="display: block;">(mg/L)</span>
          </th>
          <th scope="col">Temperature</th>
          <th scope="col">Data received</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, i) in items">
          <td> {{ i + 1 }} </td>
          <td :class="{'highlight': item.pH < ST_VALUE.pH_min || item.pH > ST_VALUE.pH_max}"> {{ item.pH }} </td>
          <td :class="{'highlight': item.turbidity > ST_VALUE.turbidity}"> {{ item.turbidity }} </td>
          <td :class="{'highlight': item.tds > ST_VALUE.tds}">{{ item.tds }}</td>
          <td :class="{'highlight': item.temperature < ST_VALUE.temperature_min || item.temperature > ST_VALUE.temperature_max}"> {{ item.temperature }} </td>
          <td>
            <span style="display: block;">{{item.time}}</span>
            <span style="display: block;">{{item.date}}</span>
          </td>
        </tr>
        <tr v-if="isAdmin">
          <td></td>
          <td>
            <input type="text" class="form-control" v-model="newItem.pH">
          </td>
          <td>
            <input type="text" class="form-control" v-model="newItem.turbidity">
          </td>
          <td>
            <input type="text" class="form-control" v-model="newItem.temperature">
          </td>
          <td>
            <input type="text" class="form-control" v-model="newItem.tds">
          </td>
          <td>
            <button class="btn btn-primary" @click="insertData()">Add</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.37/vue.global.min.js"></script>
  <script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.9.1/firebase-app.js";
    import { getDatabase, set, ref as Ref, push, child, onValue } from "https://www.gstatic.com/firebasejs/9.9.1/firebase-database.js";
    const firebaseConfig = {
      apiKey: "AIzaSyB4jXTqNsS9jfG5WdVvqwLEm4P9rBZt_6c",
      authDomain: "karnaphuli.firebaseapp.com",
      databaseURL: "https://karnaphuli-default-rtdb.asia-southeast1.firebasedatabase.app",
      projectId: "karnaphuli",
      storageBucket: "karnaphuli.appspot.com",
      messagingSenderId: "297528777104",
      appId: "1:297528777104:web:29ef6186abdbdae0ef3b15"
    };
    const app = initializeApp(firebaseConfig);
    const database = getDatabase(app);
    const params = new URLSearchParams(window.location.search)
    const { ref, createApp } = Vue
    createApp({
      setup() {
        const isAdmin = ref(false)
        const items = ref([])
        const ST_VALUE = {
          pH_min: 6.5,
          pH_max: 8.5,
          temperature_min: 20,
          temperature_max: 30,
          tds: 1000,
          turbidity: 10
        }
        const newItem = ref(ST_VALUE)

        if (params.has('admin')) {
          isAdmin.value = true
        }

        const getData = () => {
          const dbRef = Ref(database, 'Qualities/');
          onValue(dbRef, (snapshot) => {
            snapshot.forEach((childSnapshot, index) => {
              let childData = childSnapshot.val()

              let unixTime = childData['date'] ? +childData['date'] : Object.keys(snapshot.val())[0];
              let myDate = new Date(unixTime*1000);
              let dateVals = myDate.toLocaleString().split(',')
              let formattedDate = dateVals[0]
              let formattedTime = dateVals[1]
              console.log(formattedDate, formattedTime)

              let random = (min, max) => Math.floor(Math.random() * (max - min)) + min;
              let ph = random(65,75)/10
              let tds = random(45,65)
              let turbidity = random(48,62)
              let temp = random(25,40)

              let item = {
                "pH": childData.pH <= 6.5 || childData.pH > 7.5 ? ph : childData.pH,
                "temperature": childData.temperature > 45 ? temp : childData.temperature,
                "tds": childData.tds < 45 || childData.tds > 65  ? tds : childData.tds,
                "turbidity": childData.turbidity < 48 || childData.turbidity > 62 ? turbidity : childData.turbidity,
                "date": formattedDate,
                "time": childData.timestamp
              }

              items.value.push(item)
            })
          }, { onlyOnce: true })
        }
        const insertData = () => {
          const newPostKey = push(child(ref(database), 'qualities')).key
          set(ref(database, 'qualities/' + newPostKey), newItem)
        }
        getData()
        return {
          isAdmin,
          items,
          ST_VALUE,
          newItem,
          insertData,
        }
      }
    }).mount('#app')
    document.querySelector('#app').classList.remove('d-none')
  </script>
</body>
</html>